


{%  extends "base.html" %}

{% block content %}
<main class="main main--about">
    <p>
        Hello, I'm Shivesh, an enthusiastic student with a deep passion for the world of data science and web development.
         My journey into the realm of technology has been an exciting adventure of exploration and growth.
    </p>       
    <p>   I'm on a relentless quest to expand my knowledge and skills in data science and web development. 
        Every day brings new challenges and opportunities to learn and create. What I find most thrilling is the 
        intersection of these two worlds—the ability to harness data to build captivating and impactful web applications.        </p>
    
    <p>
        My current focus is on data science, where I delve into the depths of data analysis, machine learning, and 
        predictive modeling. Simultaneously, I'm honing my web development skills, exploring the intricacies of frontend and 
        backend technologies, and crafting interactive web experiences.
    </p>
    
    <p>
        Coding is extremely rewarding. As you learn, things start to click and make sense.
        You can join the dots of all the things that weren't quite clear before.
       
    </p>
   
</main>

{%  endblock  %}
