<!-- Let's move on to the body of the page. Here, we're going to have a block called content that is going to contain anything that each of the child pages wants to add to the body.
And we're also going to have a header for the entire page that is going to contain our navigation. -->

<!-- we want to also look at highlighting the current page. That's just something that you should almost always do in navigation bars.
You want to know which page you're currently in. So maybe we will do some styling for the current page and not for the other pages.
So the user knows where they are. -->

<!-- And we can do that very easily here in Jinja by adding an extra class to the link, that is the current page.
If we currently are in the project page or the main page, we will add a class here and then we will target that class with CSS to change
the styling of only that link. And the class we're going to add is nav__link--active. And we want to do if request.path == url_for home.
And I know this is a little bit of a mouthful or type full I guess. But this is what that looks like.
This Jinjia expression is going to return this string. If the current path that we are requesting which at the moment is
just the forward slash is equal to the url_for, of the home function. -->

<!-- Let's work on the styling for this, we want to create a CSS -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

    <title>Shivesh Rajput | Portfolio</title>
</head>
<body>
    <header class="header">    
    <h1>    Shivesh Rajput           </h1>
    <nav class="nav">
        <a href="{{url_for('home')}}" class="nav__link {{ ' nav__link--active' if request.path==url_for('home')}}" > 
                                           Projects  </a>
        
        <a href="{{url_for('about')}}" class="nav__link {{ 'nav__link--active' if request.path==url_for('about')}}">
                                                 About   </a>
        
        <a href="{{url_for('contact')}}" class="nav__link {{ 'nav__link--active' if request.path==url_for('contact')}}"> 
                                            Contact   </a>

        </nav>
    </header>
<main>
{%  block content  %}

{%  endblock  %}
    </main>
   
</body>
</html>
