<!-- Let's continue our portfolio project by working on the contact page. I've edited contact.html and made it extend the base template.
And now we've got our header but no content in there. So let's add some. Here, I've added the main element with a class of main and main--content.
And now we're going to add our different ways of getting in touch and to do this we could do basically anything in html that we wanted.
 -->

<!-- We could do a bunch of divs. We could do a list. We could do paragraphs but I'm going to go with dl or description list.
The dl is the perfect element for this because it also comes with two sub elements. dt for description term and dd for description details.
In here in the dl, we can put those sub elements and that's the perfect way to describe what we're doing here.
Inside the dl, we're going to have a div with a class of contact. And inside each div, we're going to have dt email and dd with
a class of contact details. -->

{% extends "base.html" %}

{% block content %}

<main class="main main--contact">
            <dl>
                <div class="contact"> 
                    <dt> Email: </dt>
                    <dd class="contact__detail">    
                        <a class="contact__link" href="mailto:shiveshr140@gmail.com" >    
                                shiveshr140 [at] gmail.com
                        </a>
                </dd>    
            </div>
            <div class="contact"> 
                <dt> Github: </dt>
                <dd class="contact__detail">    
                    <a class="contact__link" href="https://github.com/Shiveshr140" >    
                            @shiveshr140
                    </a>
            </dd>    
        </div>
</dl>
    </main>

{% endblock %}