<!-- And then in here we're going to have a different element for each project. So we'll make a for loop. And then in there, we're going to put everything inside an
anchor so that the whole project card or item will be clickable. And you can put basically anything you want inside an anchor link.
We're going to do a class and this is going to be u-bare-link. And this is just going to remove any text underlines and the href
 -->

 <!-- Let's talk briefly about this u-bare-link class. We've been using BEM style of class naming for everything.So that means that some elements are block level elements like
project card or categories. And then underneath them or inside them, we've got various other elements like this image or meta or tag.
But u_bare-link is a special kind of class because it starts with u and that means utility. So this is a class that will often be applied in addition to the bem classes to
add a very specific functionality that we don't want to duplicate in CSS everywhere. What we're doing with u-bare-link is we're going to use it to remove link
styling, like the underline and so on. And therefore, when we apply this class, everything that's under it will get that removed. -->

{% extends "base.html" %}

{%  block content   %}
<main class="main main-home">
    <section class="projects">   
        {% for project in projects %}
                <a class="u-bare-link" href="{{url_for('project',slug=project['slug'])}}">
                    <article class="project-card">
                        <img
                            class="project-card__image"
                            src="{{ url_for('static', filename=project['thumb']) }}"
                            alt="{{ project['name'] }} hero image"
                        />
                    <header class="project-card--meta">    
                        <ul class="categories" >    
                            {% for category in project["categories"] %}
                            <li class="categories__tag"> {{category}}    </li>
                            {% endfor  %}
                        </ul>
                        <h2 class="project-card__name"> {{project['name']}}    </h2>
                    </header>
                
                </article>

                </a>

        {% endfor %}

    </section>    

    </main>

{%  endblock  %}
