{% extends 'base.html' %}
{% block content %}
    <main class="main main--project">
        <div>
            <img
                class="hero"
                src="{{ url_for('static', filename=project['hero']) }}"
                alt="A hand holding a pen, about to write something in a project planner."
            />

            <article class="project">
                <article class="project__content">
                    <h2 class="project__heading">{{ project['name'] }}</h2>

                    <p>
                        Hi, I'm Shivesh! I am excited to introduce my Habit Tracker web application, a project that combines 
                        my passion for technology and personal development. The Habit Tracker is a versatile tool designed 
                        to empower individuals to build positive habits and achieve their goals.
                    </p>

                    <p>
                        The app features an intuitive and user-friendly interface that makes it easy for users to get started. 
                        Whether you're new to habit tracking or a seasoned pro, you'll find the app simple to navigate.
                    </p>

                    <p>
                        Coding is extremely rewarding. As you learn, things start to click and make sense.
                        You can join the dots of all the things that weren't quite clear before.
                        
                    </p>
                </article>

                <section>
                    <article class="project__meta-group">
                        <h3 class="project__heading project__heading--meta">Technologies used</h3>

                        <ul class="technology-list">
                            <li class="technology-list__item">Python</li>
                            <li class="technology-list__item">HTML</li>
                            <li class="technology-list__item">CSS</li>
                        </ul>
                    </article>

                    <a class="cta" href="{{ project['prod'] }}">
                        <img class="cta__icon" src="{{ url_for('static', filename='pointer.svg') }}">
                        View in production
                    </a>
                </section>
            </article>
        </div>
    </main>
{% endblock %}